In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../data/processed_titanic.csv')
data

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,0,22.000000,1,0,7.2500,1
1,2,1,1,1,38.000000,1,0,71.2833,2
2,3,1,3,1,26.000000,0,0,7.9250,1
3,4,1,1,1,35.000000,1,0,53.1000,1
4,5,0,3,0,35.000000,0,0,8.0500,1
5,6,0,3,0,29.699118,0,0,8.4583,3
6,7,0,1,0,54.000000,0,0,51.8625,1
7,8,0,3,0,2.000000,3,1,21.0750,1
8,9,1,3,1,27.000000,0,2,11.1333,1
9,10,1,2,1,14.000000,1,0,30.0708,2
10,11,1,3,1,4.000000,1,1,16.7000,1
11,12,1,1,1,58.000000,0,0,26.5500,1
12,13,0,3,0,20.000000,0,0,8.0500,1
13,14,0,3,0,39.000000,1,5,31.2750,1
14,15,0,3,1,14.000000,0,0,7.8542,1
15,16,1,2,1,55.000000,0,0,16.0000,1
16,17,0,3,0,2.000000,4,1,29.1250,3
17,18,1,2,0,29.699118,0,0,13.0000,1
18,19,0,3,1,31.000000,1,0,18.0000,1
19,20,1,3,1,29.699118,0,0,7.2250,2
20,21,0,2,0,35.000000,0,0,26.0000,1
21,22,1,2,0,34.000000,0,0,13.0000,1
22,23,1,3,1,15.000000,0,0,8.0292,3
23,24,1,1,0,28.000000,0,0,35.5000,1
24,25,0,3,1,8.000000,3,1,21.0750,1
25,26,1,3,1,38.000000,1,5,31.3875,1
26,27,0,3,0,29.699118,0,0,7.2250,2
27,28,0,1,0,19.000000,3,2,263.0000,1
28,29,1,3,1,29.699118,0,0,7.8792,3
29,30,0,3,0,29.699118,0,0,7.8958,1
...,...,...,...,...,...,...,...,...,...
861,862,0,2,0,21.000000,1,0,11.5000,1
862,863,1,1,1,48.000000,0,0,25.9292,1
863,864,0,3,1,29.699118,8,2,69.5500,1
864,865,0,2,0,24.000000,0,0,13.0000,1
865,866,1,2,1,42.000000,0,0,13.0000,1
866,867,1,2,1,27.000000,1,0,13.8583,2
867,868,0,1,0,31.000000,0,0,50.4958,1
868,869,0,3,0,29.699118,0,0,9.5000,1
869,870,1,3,0,4.000000,1,1,11.1333,1
870,871,0,3,0,26.000000,0,0,7.8958,1
871,872,1,1,1,47.000000,1,1,52.5542,1
872,873,0,1,0,33.000000,0,0,5.0000,1
873,874,0,3,0,47.000000,0,0,9.0000,1
874,875,1,2,1,28.000000,1,0,24.0000,2
875,876,1,3,1,15.000000,0,0,7.2250,2
876,877,0,3,0,20.000000,0,0,9.8458,1
877,878,0,3,0,19.000000,0,0,7.8958,1
878,879,0,3,0,29.699118,0,0,7.8958,1
879,880,1,1,1,56.000000,0,1,83.1583,2
880,881,1,2,1,25.000000,0,1,26.0000,1
881,882,0,3,0,33.000000,0,0,7.8958,1
882,883,0,3,1,22.000000,0,0,10.5167,1
883,884,0,2,0,28.000000,0,0,10.5000,1
884,885,0,3,0,25.000000,0,0,7.0500,1
885,886,0,3,1,39.000000,0,5,29.1250,3
886,887,0,2,0,27.000000,0,0,13.0000,1
887,888,1,1,1,19.000000,0,0,30.0000,1
888,889,0,3,1,29.699118,1,2,23.4500,1
889,890,1,1,0,26.000000,0,0,30.0000,2
890,891,0,3,0,32.000000,0,0,7.7500,3

In [3]:
data['Age']

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
5      29.699118
6      54.000000
7       2.000000
8      27.000000
9      14.000000
10      4.000000
11     58.000000
12     20.000000
13     39.000000
14     14.000000
15     55.000000
16      2.000000
17     29.699118
18     31.000000
19     29.699118
20     35.000000
21     34.000000
22     15.000000
23     28.000000
24      8.000000
25     38.000000
26     29.699118
27     19.000000
28     29.699118
29     29.699118
         ...
861    21.000000
862    48.000000
863    29.699118
864    24.000000
865    42.000000
866    27.000000
867    31.000000
868    29.699118
869     4.000000
870    26.000000
871    47.000000
872    33.000000
873    47.000000
874    28.000000
875    15.000000
876    20.000000
877    19.000000
878    29.699118
879    56.000000
880    25.000000
881    33.000000
882    22.000000
883    28.000000
884    25.000000
885    39.000000
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [4]:
X = data['Age']
I= data['PassengerId']
Y = data['Survived']
avg = X.mean()
X_a = np.array(X).reshape(-1,1)
Y_b = np.array(Y).reshape(-1,1)

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

In [6]:
model = DecisionTreeClassifier()

In [7]:
model.fit(X_a,Y_b)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [8]:

test_data = pd.read_csv('../data/titanicdata/test.csv')
new_test = test_data["Age"].fillna(avg)
new_Id = test_data["PassengerId"]
new_test

0      34.500000
1      47.000000
2      62.000000
3      27.000000
4      22.000000
5      14.000000
6      30.000000
7      26.000000
8      18.000000
9      21.000000
10     29.699118
11     46.000000
12     23.000000
13     63.000000
14     47.000000
15     24.000000
16     35.000000
17     21.000000
18     27.000000
19     45.000000
20     55.000000
21      9.000000
22     29.699118
23     21.000000
24     48.000000
25     50.000000
26     22.000000
27     22.500000
28     41.000000
29     29.699118
         ...
388    21.000000
389     6.000000
390    23.000000
391    51.000000
392    13.000000
393    47.000000
394    29.000000
395    18.000000
396    24.000000
397    48.000000
398    22.000000
399    31.000000
400    30.000000
401    38.000000
402    22.000000
403    17.000000
404    43.000000
405    20.000000
406    23.000000
407    50.000000
408    29.699118
409     3.000000
410    29.699118
411    37.000000
412    28.000000
413    29.699118
414    39.000000
415    38.500000
416    29.699118
417    29.699118
Name: Age, Length: 418, dtype: float64

In [9]:
new_Id

0       892
1       893
2       894
3       895
4       896
5       897
6       898
7       899
8       900
9       901
10      902
11      903
12      904
13      905
14      906
15      907
16      908
17      909
18      910
19      911
20      912
21      913
22      914
23      915
24      916
25      917
26      918
27      919
28      920
29      921
       ...
388    1280
389    1281
390    1282
391    1283
392    1284
393    1285
394    1286
395    1287
396    1288
397    1289
398    1290
399    1291
400    1292
401    1293
402    1294
403    1295
404    1296
405    1297
406    1298
407    1299
408    1300
409    1301
410    1302
411    1303
412    1304
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64

In [10]:
test_data_array = np.array(new_test).reshape(-1,1)
new_model = model.predict(test_data_array)
new_model

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [11]:
model.score(X_a,Y_b)

0.6689113355780022

In [12]:
# s1 = pd.Series(I)
# s2 = pd.Series(new_model)
# result = pd.concat([s1,s2])
# result

In [13]:
#  result.to_csv('submissionresult.csv', index=False)

In [14]:
#for i,x in enumerate(zip(I,new_model)):

In [15]:
#prediction = model.predict(test_data_array)

In [16]:
prediction = pd.DataFrame(new_model)

In [17]:
prediction["PassengerId"] = new_Id

In [18]:
prediction.columns = ['Survived', 'PassengerId']

In [19]:
prediction

     Survived  PassengerId
0           0          892
1           0          893
2           0          894
3           1          895
4           0          896
5           0          897
6           0          898
7           0          899
8           0          900
9           0          901
10          0          902
11          0          903
12          0          904
13          1          905
14          0          906
15          0          907
16          1          908
17          0          909
18          1          910
19          0          911
20          0          912
21          0          913
22          0          914
23          0          915
24          1          916
25          0          917
26          0          918
27          0          919
28          0          920
29          0          921
..        ...          ...
388         0         1280
389         1         1281
390         0         1282
391         0         1283
392         1         1284
393         0         1285
394         0         1286
395         0         1287
396         0         1288
397         1         1289
398         0         1290
399         0         1291
400         0         1292
401         0         1293
402         0         1294
403         0         1295
404         0         1296
405         0         1297
406         0         1298
407         0         1299
408         0         1300
409         1         1301
410         0         1302
411         0         1303
412         0         1304
413         0         1305
414         0         1306
415         0         1307
416         0         1308
417         0         1309

[418 rows x 2 columns]

In [20]:
prediction.to_csv('submissionresult.csv', index=False)